@import '../../global.scss';

.Button {

    &.modal {
        border: 2px solid $light-blue;
        background-color: $light-blue;
        border-radius: 12px;
        text-align: center;
        color: $white;
        transition: background-color 0.2s;

        &:hover {
            cursor: pointer;
            background-color: $white;
            color: $light-blue;
        }
    }
}