@import '../../global.scss';

.ModalOverlay {
    visibility: hidden;
    position: absolute;
    background-color: $dark-blue;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;

    &.showOverlay {
        animation: overlay-opacity 0.6s linear forwards;

        @keyframes overlay-opacity {
            from {
                opacity: 0;
            }
            to {
                opacity: 80%;
                visibility: visible;
            }
        }
    }

    &.hideOverlay {
        animation: overlay-transparent 0.6s linear forwards;
        
        @keyframes overlay-transparent {
            from {
                opacity: 80%;
            }
            to {
                opacity: 0%;
                visibility: hidden;
            }
        }
    }
}

.Modal {
    visibility: hidden;
    background: $white;
    position: absolute;
    min-width: 400px;
    min-height: 450px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 18px;
    padding: 20px;
    
    &.show {
        animation: modal-move 0.5s linear forwards,
                   modal-opacity 0.6s linear forwards;

        @keyframes modal-move {
            from {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
            }
            to {
                bottom: 50%;
                transform: translateX(-50%) translateY(40%);
                opacity: 100%;
                visibility: visible;
            }
        }

        @keyframes modal-opacity {
            from {
                opacity: 0;
            }
            to {
                opacity: 100%;
                visibility: visible;
            }
        }
    }

    &.hide {
        animation: modal-hide 0.4s linear forwards;

        @keyframes modal-hide {
            from {
                opacity: 100%;
                bottom: 50%;
                transform: translateX(-50%) translateY(40%);
                opacity: 100%;
                visibility: visible;
            }
            to {
                visibility: hidden;
                opacity: 0;
            }   
        }
    }

    .title {
        display: flex;
        justify-content: center;
        border-bottom: 2;
        color: $dark-blue;
        border-bottom: 3px solid $light-blue;
        margin-bottom: 20px;

        h2 {
            margin: 0;
            margin-bottom: 10px;
        }
    }
}