.ClientList {
    

    .list {
        background-color: white;
        list-style: none;
        margin: 0 20px;
        padding: 0;
        border-radius: 20px;
        
        .header {
            background-color: #003865;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            color: white;
            font-weight: bold;
        }

        .item {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
            padding: 10px;
            
            &:not(.header):nth-child(even) {
                background-color: #80808017;
            }

            &:not(.header):hover {
                cursor: pointer;
            }
        }
    }
}